<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Worker config</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Code address: ' + ${codeAddress}" ></p>
<p th:text="'Code main file: ' + ${codeMainFile}"></p>
<p th:text="'Code command: ' + ${codeCommand}"></p>
<p th:text="'Storage address: ' + ${storageAddress}"></p>
<p th:text="'Storage port: ' + ${storagePort}"></p>
<p th:text="'Queue connection: ' + ${queueConnectionString}"></p>
<p th:text="'Queue name: ' + ${queueName}"></p>
</body>
</html>